
<section class="hero-footer">
  <div class="hero-inner">
  <h2><i class="fas fa-heart"></i></h2>
    <h2>Kevin Ting | Hapy Benitez</h2>
    <h2>#ThatTingCalledHapynez</h2>
    <h3><i class="far fa-copyright"></i> 2020 Kevin Ting <br>
      All rights reserved</h3>


  </div>
</section>


</body>
</html>
