
    <section class="hero">
      <div class="hero-inner">
        <h1>We're getting married!</h1>
        <h2>January 03, 2020</h2>
    <a href="/rsvp" class="btn">RSVP</a>
      </div>
    </section>
