<%- include("partials/header") -%>

<section class="hero-error-page">
  <div class="hero-inner">
    <h1>404</h1>
      <h2>Whoa there. Looks like you're trying to reach something that doesn't exist.</h2>
      <a href="/" class="btn btn-rsvp">Home <i class="fas fa-home"></i></a>

  </div>
</section>
<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
