<%- include("partials/header") -%>
<section class="hero-error-page">
  <div class="hero-inner">
    <h1>500</h1>
    <h2>Well, this is embarassing. Something went wrong....</h2>
<a href="/" class="btn">Home</a>
  </div>
</section>
<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
