<%- include("partials/header") -%>
<div class="padding-btm-60"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Guest successfully added</h3>

        You have added <%= guestInfo.guestName %>

      </p>
      <p>Click <a href="/add-guests">here</a> to add more guests.</p>
      <p>Click <a href="/guest-list">here</a> to view the guest list.</p>
    </div>
  </div>


</div>

<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
