<%- include("partials/header") -%>
<div class="padding-btm-60"></div>
<div class="container">
<h1 class="page-header">Contact</h1>
<p>We’d be happy to address any concerns you might have!</p>
<p>
For questions and clarifications prior to the big day, feel free to shoot a message to:
<ul>
  <li><strong>Hapy Benitez</strong> (via Facebook Messenger) </li>
  <li><strong>Kevin Ting</strong> (via Facebook Messenger) </li>
  <li><strong>Adora Alcance Real</strong> (our wedding coordinator) at 0916-519-1625</li>
</ul>
</p>


<p>For concerns during the event day itself, you can reach out to:
</p>
<ul>
  <li><strong>Adora Alcance Real</strong> (our wedding coordinator) at 0916-519-1625</li>
  <li><strong>Marie Isabelle Oloris Lapuz</strong> (via Facebook Messenger) </li>
  <li><strong>Keanu Ting</strong> (via Facebook Messenger) </li>
</ul>
<p>We look forward to celebrating our wedding with you!</p>
</div>
<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
