<%- include("partials/header") -%>
<div class="padding-btm-60"></div>
<div class="container">

  <h1 class="page-header" >Ceremony & Reception</h1>
<div class="row">
  <div class="col-md-6">
    <p>The wedding and reception will both take place at</p>
    <p>
      <b>
        Sequoia Ballroom, 16F <br/>
        Acacia Hotel Manila <br/>
      </b>
      5400 East Asia Drive corner Commerce Avenue, <br/>
      Filinvest Corporate City, Alabang, <br>
      Muntinlupa City, Philippines
    </p>
    <p>
      The ceremony will begin at <strong> 5:30 p.m. </strong> on <strong> January 3, 2020 (Friday)</strong>.
    </p>
    <p>
        We kindly ask guests to arrive on time to avoid delays.
    </p>

  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3864.115675975829!2d121.0332717146623!3d14.420494589917352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d03492e0f54b%3A0x25e6cc09b1497bc2!2sAcacia+Hotel+Manila!5e0!3m2!1sen!2sus!4v1560748671308!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
</div>
<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
