<%- include("partials/header") -%>
<div class="padding-btm-60"></div>
<div class="container">
<h1 class="page-header">FAQs</h1>
<div class="row">
  <div class="col-md-12">
    <div class="faq-intro">
      <p>
        We’re no mind readers like Jean Grey and Professor X, but we’ve managed to list down the questions you might have for us.
        </p>
        <br>
        <p><strong> P.S. </strong>You can also explore our website to see if we’ve answered your query in the other pages!</p>
      </div>
  </div>
</div>

<div class="row faq-main">
  <div class="col-md-8">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              When is the RSVP due?
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            We’d love to know if you can make it (we hope you can!). Please submit your <a href="/rsvp" target="_blank">RSVP form</a>  on or before <strong>December 15, 2019</strong>. <br/>
            <br />
            Should you need to make any changes to what you’ve previously submitted, please contact Hapy or Kevin so we can fix the boo-boo.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               Is there a dress code?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <em> Kung gusto mo um-awra</em>, you’re in luck! Our wedding is certainly a fun excuse to wear your favorite formal wear.
            <br />
            Please do refrain from wearing casual clothes, white gown, or white dress.
            <br /><br />
            Ladies, get dolled up. You can wear long gown, cocktail dress, or even women’s suit.
            <br />
            Gentlemen, get that dapper look on. You can wear a tuxedo, a suit, or a formal polo shirt with slacks.
            <br /><br />
            The hotel ballroom can get chilly, so you might want to bring a wrap with you as well.

          </div>
        </div>
      </div>
	        <div class="card">
        <div class="card-header" id="headingThirteen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseTwelve">
              What are your color motifs?
            </button>
          </h5>
        </div>
        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
          <div class="card-body">
            You'll be seeing a lot of <strong>navy blue, white, and black</strong> on our wedding day. You can dress up to match our color motifs or go with your own style.
            <br><br>
            However, kindly take note of our dress code (as mentioned above).
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Are you registered in a wedding gift registry?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            We opted to not register in any wedding gift registry.
            <br/>
            However, if you wish to give us a wedding present, a gift of cash would really make our day :)

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              Can I bring a plus one?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            We want to keep our wedding celebration as intimate as possible.
            <br/>
            We apologize in advance as we won’t be able to accommodate plus one requests that are beyond our guest list.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Can I bring children to your wedding?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            Kevin loves kids, but attending a wedding may not be the most fun thing for them. That is why this is an adults-only celebration. Plus, we also want you to enjoy the evening with the rest of our guests.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Can I take photos and videos during the wedding ceremony and reception?
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            We will be having an <strong>unplugged wedding ceremony</strong>. Thus, kindly refrain from taking photos and videos as we exchange our vows so we can preserve the solemnity of the occasion.
            <br/><br/>
            However, you can certainly take as many photos and videos as you want during the wedding reception!
            <br/>
            We will also have a photo booth where you can have your photos taken and printed (imagine that!).
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Will there be food and drinks served?
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body">
            Absolutely! We’re Filipinos, and we’re all about the food!
            <br/>
            It’s our mission to make this night as memorable for you as it is for us, so we prepared a Filipino banquet for our guests. Heads up: For the drinks, we will be serving only one round of iced tea and your choice of coffee or tea.
            <br/><br/>
            We’re all about the fun, but we also want you to get home safely. That is why we decided to not serve alcoholic drinks in our event.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              What if I have dietary restrictions?
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body">
        Please shoot a message in advance to Hapy or Kevin via Facebook Messenger to let us know! We want you to be safe and comfortable.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingNine">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Will there be dancing?
            </button>
          </h5>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body">
          If you know Hapy, you’ll know how much she loves to dance. So yes, <em>of course</em> there will be dancing!
            <br/>
            We’ll even skip the embarrassing wedding games so we can get right into the mingling and partying ;)

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTen">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Where can I park my car?
            </button>
          </h5>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
          <div class="card-body">
            Acacia Hotel Manila has their own parking space for our wedding guests. However, this space is limited. <br>
            You may utilize the parking lot at South Supermarket Alabang, which is a few meters away from Acacia Hotel Manila.
            <br/>
            We suggest that you arrive earlier to avoid the hassle of finding a convenient parking spot within the hotel or in the nearby parking areas.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEleven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              I’ll be commuting. Where are the nearest public transport terminals from your venue?
            </button>
          </h5>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
          <div class="card-body">
            We love your foresight and we certainly appreciate your effort to attend our special day!
            <br/>
          If you need to commute, the nearest public transport terminals are located at:
          <ul class="faq-list">
            <li>South Station Transport Terminal (across from Crimson Hotel)</li>
            <li>Festival Supermall Alabang</li>
            <li>Starmall Alabang</li>
            <li>Alabang Town Center</li>
          </ul>

          You can also book a Grab vehicle to and from Acacia Hotel Manila.<br><br/>
          Carpooling with our other guests is another option you can consider.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwelve">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              Do you have hotel rooms booked for your guests?
            </button>
          </h5>
        </div>
        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
          <div class="card-body">
            Unfortunately, we were not able to secure hotel rooms for our guests.
            <br/><br/>
            However, if you wish to stay in a nearby accommodation, we strongly suggest that you book at the soonest time.
            Here are the hotels near our venue that you might want to check out:
            <ul class="faq-list">
              <li><a href="https://www.somerset.com/en/philippines/manila/somerset-alabang-manila.html" target="_blank">Somerset Alabang Manila</a></li>
              <li><a href="https://www.parqueespana.net/" target="_blank">Parque España</a></li>
              <li><a href="https://www.viverehotel.com.ph/" target="_blank">Vivere Hotel & Resorts</a></li>
              <li><a href="https://www.thebellevue.com/" target="_blank">The Bellevue Manila</a></li>
              <li><a href="https://crimsonhotel.com/manila/" target="_blank">Crimson Hotel</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


</div>
<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
