<%- include("partials/header") -%>
<div class="padding-btm-60"></div>
<div class="container">
  <h1 class="page-header" >Gallery</h1>
  <div class="row">
    <div class="col-md-12">
      Photos from the wedding will be uploaded soon!
    </div>

  </div>


</div>
  <div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
