<%- include("partials/header") -%>
<section class="hero-getting-married">
  <div class="hero-inner">
    <h1>We got married!</h1>
    <h2>January 03, 2020</h2>
    <h3>#ThatTingCalledHapynez</h3>
  </div>
</section>


<section class="hero-our-story">
  <div class="hero-inner">
    <div class="container-fluid">
      <h2><i class="fas fa-heart"></i></h2>
      <h2 class="page-header">Our Thanks</h2>
      <br>
      <div class="row">

        <div class="col-md-6">
          <img src="images/postnup.png" class="img img-fluid" alt="">
        </div>
        <div class="col-md-6">

          <p>
            We would like to thank all our guests for taking the time to celebrate with us.<br>
            We truly are humbled by the show of love and support that we have received from family and friends not just on our wedding day, but also over the several months leading to the big day. <br>
            <br>
            We'd also like to thank our Wedding Vendors who have helped with various aspects of the planning, and this wedding wouldn't really have been nearly as beautiful or as organized without their help.
            <br>
            For their contact information, click <a href="/suppliers" target="_blank" title="link to the suppliers page">here</a>.
            <br>  <br>
            This was certainly a special day for Hapy and me, and we hope that the love and support you've shown us will continue. We are committed to each other <a href="https://youtu.be/-7OACKizgVU?t=55" target="_blank">until the end of the line</a> , and we know it will be so much easier with all of you by our sides.
            <br><br>
            -Kevin & Hapy
          </p>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="hero-acacia">
  <div class="hero-inner">
    <h2><i class="fas fa-hotel"></i></h2>
    <h2 class="page-header">Ceremony & Reception</h2>
    <br>
    <p>
      <b>
        Sequoia Ballroom, 16F <br/>
        Acacia Hotel Manila <br/>
      </b>
      5400 East Asia Drive corner Commerce Avenue, <br/>
      Filinvest Corporate City, Alabang,<br>
      Muntinlupa City, Philippines
    </p>
    <small>Photo credit: Bliss Photography</small>

  </div>
</section>



<%- include("partials/footer") -%>
