<%- include("partials/header") -%>
<section class="hero-getting-married">
  <div class="hero-inner">
    <h1>We got married!</h1>
    <h2>January 03, 2020</h2>
    <h3>#ThatTingCalledHapynez</h3>
  </div>
</section>


<section class="hero-our-story">
  <div class="hero-inner">
    <div class="container-fluid">
      <h2><i class="fas fa-heart"></i></h2>
      <h2 class="page-header">Our Thanks</h2>
      <br>
      <div class="row">

        <div class="col-md-6">
          <img src="images/postnup.png" class="img img-fluid" alt="">
        </div>
        <div class="col-md-6">

          <p>
            We would like to thank all our guests for taking the time to celebrate with us.<br>
            We truly are humbled by the show of love and support that we have received from family and friends not just on our wedding day, but also over the several months leading to the big day. <br>
            <br>
            We'd also like to thank our Wedding Vendors who have helped with various aspects of the planning, and this wedding wouldn't really have been nearly as beautiful or as organized without their help.
            <br>
            For their contact information, click <a href="/suppliers" target="_blank" title="link to the suppliers page">here</a>.
            <br>  <br>
            This was certainly a special day for Hapy and me, and we hope that the love and support you've shown us will continue. We are committed to each other <a href="https://youtu.be/-7OACKizgVU?t=55" target="_blank">until the end of the line</a> , and we know it will be so much easier with all of you by our sides.
            <br><br>
            -Kevin & Hapy
          </p>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="hero-suppliers">
  <div class="hero-inner">
    <h2><i class="fas fa-users"></i></h2>
    <h2 class="page-header">Our Suppliers</h2>
    <br>
    <div class="row">
      <div class="col-md-6">
        <img src="images/suppliers.jpg" class="img img-fluid" alt=""> <br>
      </div>
      <div class="col-md-3">
        <p>
          <strong><a href="https://www.acaciahotelsmanila.com/" target="_blank">Acacia Hotel Manila</a></strong> <br>
          <small>Venue and Caterer</small>
        </p>

          <p>
             <strong><a href="https://www.facebook.com/eventmastersmanila/" target="_blank">The Event Masters Manila</a></strong> <br>
             <small>Wedding Coordinator</small>
          </p>

          <p>
             <strong><a href="https://www.facebook.com/jessas.gown" target="_blank">Jessa’s Gown Imus</a></strong><br>
             <small>Wedding Attire </small>
          </p>

          <p>
          <strong>Kaye Chua</strong> <br>
             <small>
                 Host<br>
               <i class="fas fa-envelope"></i> kayecchua@gmail.com</small>
          </p>

          <p>
             <strong>Andi Dela Torres</strong><br>
             <small>Wedding Singer <br>
                <i class="fas fa-envelope"></i> dianaosorio.delatorre@gmail.com
             </small>
          </p>


      </div>
      <div class="col-md-3">

        <p>
           <strong><a href="https://www.instagram.com/beautybybubblesd/" target="_blank">Beauty by Bubbles D</a></strong><br>
           <small>Hair and Makeup </small>
        </p>

        <p>
           <strong><a href="https://www.facebook.com/handmadebloomingfabrics/" target="_blank">Blooming Fabrics</a><br>
           <small>Wedding Bouquet </small>
        </p>

        <p>
           <strong><a href="https://www.facebook.com/justforeverflowers/" target="_blank">Forever Flowers PH </a></strong><br>
           <small>Florist</small>
        </p>

        <p>
           <strong><a href="http://www.myblisshd.com/home/page/1" target="_blank">Bliss Photography</a></strong><br>
           <small>Photographer, Videographer, and Photobooth</small>
        </p>

      </div>

    </div>


  </div>
</section>

<section class="hero-our-story">
  <div class="hero-inner">
    <div class="container-fluid">
      <h2><i class="fas fa-heart"></i></h2>
      <h2 class="page-header">Gallery</h2>
      <br>
      <div class="row">


        <div class="col-md-12">

          <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
          <div class="pa-carousel-widget" style="width:100%; height:480px; display:none;"
            data-link="https://photos.app.goo.gl/sUw5xgChWxpjUXjW7"
            data-title="Wedding Photos"
            data-description="19 new photos added to shared album"
            data-delay="10"
            data-background-color="#2c2c2c">
            <object data="https://lh3.googleusercontent.com/mnshP95EADOmt0EhmSGRy2kFK0zEQhXW9HB-TUM0Q2eP5NhhCrokqpHjLRufYoNdgiWU8EefGGUTmRNuBrqLQ_WShIkavw2ZA1uSCTfYF66khJ88DQ545vTsJYhntArdXSEGqCTnz9M=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/TBkTNhaOe1-IbWOr50-Hxvs-Bs3HB6zySNN2ra1T0dMBrjDA9mIZBldJnko9T8hibHv2dfXapBCKHVEXo9L7k95VfF53p-dAdUBurWamzf8Cl8Rk2uMLN2YObgO3sdK2HTnj8RkMkDI=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/NoyylJYMFAn8qb--17eh40MhOee1epID4XmRYYzjPrO7EqoK3yV8LoOFeVuk8MClPTO_Fq7mjABS4AeC-fysNUCGgM6p75xQ4pB88ikP9e_zfdXVWpo76HmCEQGD_uzN7RheZWZStPw=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/qs8CKdsWQx3QKOMfKomWwnksdSPfzU2A4xJjomDbr8EIw_tn_KG3ZE-WHxSBPpXuFzGJlI_mFrkF4f1uMzBNxQtms3V5zj4dAL9cZKoIE4J7luhyzigwkO1Y-iBmU2NSKSurvsFfIeo=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/C-z36PiLBm8kBUigimBrHqwiEt-x3QRLwzgeha7Xic1xwY4qYwI3V06dfIblCPVxXFQyMRJm9TfCq2zX5LziDszcRpHy7LMza1-s9a_CX2qSUs9lnzPeLisoRUg0vR9Ud1YHq58s3CU=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/HLrRAyZT5LNos3GlAuuCGkxSWdtf1w7w6GErCvRLFSRXR69s007hVZdLRJdZ4aj90Af9ia1sOfvyi6E-NEBtllNgyF_bWcD5yvkG1vu7oiFglWY8jn23h5d2Z46vRJ8bZxsicIgVHZw=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/7RLC2zu5SFp41uy3RBDRDIq3kPVNieomH-DZxpfrRnuOA-eCtBs8B_xE1vGefg_m-kkd8Pf6wk5p5i7XEHSMbe8upQnie9Lr0ucWSqZ1nNvswYuEleUtiwNgwuodPB-Jqv5HdEEZCc8=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/vw2krIrPbMgzYcx2Z89JmhViQofkGlYlXYVf-QQ8roNeewCHjrWYFStlO78TWGAaWukWMNClHwopjYNOmA4nKGAAV1rWICYOQYr_IPO0r-LFiFOAwOlwrxvhBNUrma8b8sLBgy7K4B0=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/R3Gcnt3xSQIwSHeW58jgeHY5J31j24Pma0-R-JbMZ7y3Aw-FVIYWMhCZqx-U_tvdyjaoWtrJo5EP1cUUeEI_s2h2Qse8JPBxmihU_yps_-S9ZnbbK2aj7hlpVIANOnLt-43-YgqS2Bo=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/oe9RXVlklF2dHg31FrI75OHn0BHw0wNbVW2EEhjVHqWOLk0_EIU1Rw5_10FF7AQf30D0KpgO9VO6quE8_dhxt-BZ2XZ0gIvwgEioZY0MXqFFu1J5J5NP4mCVEv0kMJHIU9xFM9MFlk0=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/EN3dAN52sxWFI5tNKqJCQswT-RHV_sD7jWsuqgUK37CVSPmm1G9qZx6ULQBGfB5QB8-D6JJcZOFCRItomR3TZGxCxEjW888BKxSWbAcXFGA6JvDk3diQyPYJ8_au-avRwcJ_9zr2O0s=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/4a-xVQHTdyQzDdRQQBE9XcF_IHlbaddbO_iR5LvQA785tgxXGp2qOA7sp0ESjXIN5DCesyIk53lO5Up4LeXITG9Ih0BG9n2Mi9ryrkw1AbUn7WTHNVFxHmS_-C7KmHOEV0OGbhzV8Uc=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/YgBBF5QfFp3ZIBVbKUsrLe1XPUmU_X7b1BD7S7wskKv-fIqW2RQzWrPBjcyvY6p4smQp6D-X6XMhcnZw06Nd7DJMO2N9M2n7bgeUiROtlh_llOW6MEND2MtGKlORYnbcVnEfYockP0Y=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/6lxKxcfEANl_OVn-7jRlBclkMrPhurejyQecPm9dP5jp99lU3bsqNCUgCiaMOEeIYzkgpMKkolyhg93wMJUGsf5DZoMgiByso1g11DIJtaqSRV3cgP-RhfNZBh89MSXo1Iyb2cdrN6M=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/47bJHNucnjnwCxUP0C4SyIYRLUX-d9PE5Kv_nR8lFk31HfQRxvy0Wi5Rg0TFGDJm2vzFNsieEx-UJFBEFhpDkDGb9qgIlNsgQcgwBtHl3mY5Ou8MlA6UdmLmNq7-MBmDG2bAwp9TBHI=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/lUJ6ftqd1AAMhdIJy__hAJIf22URyK7MPIQUmVA5DyN_sePXP2bo2QETXDL5V4g3wnlmck8ANCGwe4Qmf_JjhhsLHtmM0BRYdzdQ2R4s8FYewSfgHkEfLYVRxhQXgsDq6q1-98Wjk8E=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/qsc4v1Kf6lnlCTvSjKQfHIekqWgJoeqCymCOlaUUV7OLT226br2SRl9_GrtDGFiWg6blN40XjLyGrvHCNMgbL1hDn0G6k6CBN9Vgz61G38atOY1CXfVeOUZk8TSrRqrjcTAavcHDjm0=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/ETlha_dgRTlCqzU5BHCsstX1ezmrxXgh92SBKg-Ip_K6QIqSdvgBRco4MnByRMkQZtoIBTf3V4W2tjwueSuG76HLf5Ff2PKC3RMrZTEFgb1f3y9C0CqSy0LVC3esZEbriB7z7ZhQNcI=w1920-h1080"></object>
            <object data="https://lh3.googleusercontent.com/ItrnGP2vIS9edBDuwBu1T5qGlVSC4qbjrTYF4OMOgwZuMPq7YsYgkQG3BYTN8bN5cn6PUUH-pe7uMO6wAkVTXugEAM5MpsjYBwmPsm4FLjOd48jUYL0S_7T6m6Tdl4fVVeRD8xIaGx4=w1920-h1080"></object>
          </div>


        </div>
      </div>

    </div>

  </div>
</section>


<%- include("partials/footer") -%>
