<%- include("partials/header") -%>
<div class="padding-btm-60"></div>

<div class="container">
<h1 class="page-header">Suppliers</h1>

<p>
  Our wedding wouldn’t be realized without the help of our partners. We’re happy to share the suppliers we partnered with to make our wedding possible:
</p>

<div class="row">
  <div class="col-md-4">


<p><strong>Venue and Caterer</strong>: <a href="https://www.acaciahotelsmanila.com/" target="_blank">Acacia Hotel Manila</a></p>

<p><strong>Wedding Coordinator</strong>: <a href="https://www.facebook.com/eventmastersmanila/" target="_blank">The Event Masters Manila</a></p>


<p><strong>Host</strong>: Kaye Chua
  <br>
<strong>Contact Details</strong>: kayecchua@gmail.com
</p>

<p>

  <strong>Wedding Singer</strong>: Andi Dela Torre
  <br>
  <strong>Contact Details</strong>: dianaosorio.delatorre@gmail.com
</p>

<p>
  <strong>Wedding Attire</strong>: <a href="https://www.facebook.com/jessas.gown" target="_blank">Jessa’s Gown Imus</a>
</p>

<p>
  <strong>Hair and Makeup</strong>: <a href="https://www.instagram.com/beautybybubblesd/" target="_blank">Beauty by Bubbles D</a>

</p>

<p>
  <strong>Wedding Bouquet</strong>: <a href="https://www.facebook.com/handmadebloomingfabrics/" target="_blank">Blooming Fabrics</a>

</p>

<p>
  <strong>Florist</strong>: <a href="https://www.facebook.com/justforeverflowers/" target="_blank">Forever Flowers PH </a>

</p>

<p>
  <strong>Photographer, Videographer, and Photobooth</strong>: <a href="http://www.myblisshd.com/home/page/1" target="_blank">Bliss Photography</a>
</p>


  </div>

  <div class="col-md-8">


    <p>If you want to listen to our wedding playlist and get that groove going, check out our Spotify playlist below:</p>
    <br>
    <iframe src="https://open.spotify.com/embed/playlist/0UMefIOjXUNsZzslZ2nmvw" width="300" height="500" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
        <img src="images/suppliers.jpg" class="img img-fluid" alt="">
  </div>
</div>

</div>

<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
